
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
  <display-name>Medicare</display-name>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>service.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserSignup</servlet-name>
  	<display-name>UserSignup</display-name>
  	<description></description>
  	<servlet-class>service.UserSignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminMenu</servlet-name>
  	<display-name>AdminMenu</display-name>
  	<description></description>
  	<servlet-class>service.AdminMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMedicine</servlet-name>
  	<display-name>AddMedicine</display-name>
  	<description></description>
  	<servlet-class>service.AddMedicine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTag</servlet-name>
  	<display-name>AddTag</display-name>
  	<description></description>
  	<servlet-class>service.AddTag</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOffer</servlet-name>
  	<display-name>AddOffer</display-name>
  	<description></description>
  	<servlet-class>service.AddOffer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSeller</servlet-name>
  	<display-name>AddSeller</display-name>
  	<description></description>
  	<servlet-class>service.AddSeller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChooseMedicine</servlet-name>
  	<display-name>ChooseMedicine</display-name>
  	<description></description>
  	<servlet-class>service.ChooseMedicine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditMedicine</servlet-name>
  	<display-name>EditMedicine</display-name>
  	<description></description>
  	<servlet-class>service.EditMedicine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserMenu</servlet-name>
  	<display-name>UserMenu</display-name>
  	<description></description>
  	<servlet-class>service.UserMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayCart</servlet-name>
  	<display-name>DisplayCart</display-name>
  	<description></description>
  	<servlet-class>service.DisplayCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentGateway</servlet-name>
  	<display-name>PaymentGateway</display-name>
  	<description></description>
  	<servlet-class>service.PaymentGateway</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Summary</servlet-name>
  	<display-name>Summary</display-name>
  	<description></description>
  	<servlet-class>service.Summary</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserSignup</servlet-name>
  	<url-pattern>/UserSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminMenu</servlet-name>
  	<url-pattern>/AdminMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMedicine</servlet-name>
  	<url-pattern>/AddMedicine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTag</servlet-name>
  	<url-pattern>/AddTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddOffer</servlet-name>
  	<url-pattern>/AddOffer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSeller</servlet-name>
  	<url-pattern>/AddSeller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChooseMedicine</servlet-name>
  	<url-pattern>/ChooseMedicine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditMedicine</servlet-name>
  	<url-pattern>/EditMedicine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserMenu</servlet-name>
  	<url-pattern>/UserMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayCart</servlet-name>
  	<url-pattern>/DisplayCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentGateway</servlet-name>
  	<url-pattern>/PaymentGateway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Summary</servlet-name>
  	<url-pattern>/Summary</url-pattern>
  </servlet-mapping>
 </web-app>